# .gitignore configuration file.
# Examples: <https://github.com/github/gitignore>
# Syntax: <https://git-scm.com/docs/gitignore>
# Keep items organized and in alphabetical order.

# Cache-related files
.cache/

# Data exports
*.csv

# Documentation
*.html
*.pdf

# Environments
.env
.envrc
/.github/agents/
/.github/instructions/
/.github/skills/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore .lock files
.lock

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
#.cursorignore
.cursorindexingignore


# Temporary binary files
actionlint

# Temporary or backup files
*.bak
*.org
*.orig
*.swp
